.Register {
	height: 700px;
	background-color: #fff;
	border: 1px solid #DDDDDD;
}
.Register h1 {
	font-size: 24px;
	font-weight: 500;
	color: #478ba2;
	margin-bottom: 20px;
}
.Register > img {
	margin-bottom: 25px;
}
.Register div img {
	margin-top: 25px;
}
.Register p {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #478ba2;
}
.Register hr {
	width: 60%;
	opacity: 0.2;
	border: 1px solid #2b2a2e;
	margin: 8px auto;
}